<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SamsungURL" value="https://shop.samsung.com/in/customer/account/login/"/>
    <add key="AppleUrl" value="https://idmsa.apple.com/IDMSWebAuth/login?appIdKey=abccc6a7290f30f860b1f1bf4fe81c948a6641fbdacf6238b83b7379065fe0ba"/>
    <add key="Tdd" value="XpathTraining\TestDataDriven\DATA.xml"/>
  </appSettings>
</configuration>